.back-button {
  margin: 70px 40px;
}

form {
  display: flex;
  justify-content: center;
}
h3 {
  display: flex;
  justify-content: center;
  color: white;
}
label {
  color: white;
}
.login a {
  color: white;
}
.login {
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: whitesmoke;
  align-items: center;
}
.login p {
  color: white;
}
label {
  color: white;
}
