.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(4, 61, 9, 0.61);
  box-sizing: border-box;
  color: whitesmoke;
  background-color: black;
  height: 50px;
}
.links {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
}
a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 25px;
}
