.back-button {
  margin-bottom:20px;
  padding: 8px 16px;
  cursor: pointer;
}
.resources {
padding: 20px;
text-align: center;
}
h2{
text-align: center;
}
h1{
  border: 1px;
  border-style: dashed;
  border-color: black;
}