* {
  box-sizing: border-box;
}
.back-button {
  margin-bottom: 20px;
  padding: 8px 16px;
  cursor: pointer;
}
.resources {
  text-align: center;
}
h2 {
  text-align: center;
}
h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 12px;
  border-color: #020352;
  border-style: solid;
  border-width: 5px;
  margin-top: auto;
  padding: 40px 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.8);
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  margin-top: 30px;
  padding: 0 20px;
}
.resource-card {
  background-color: #020352;
  border-radius: 12px;
  padding: 40px 20px;
  min-width: 300px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  font-weight: 600;
  font-size: 40px;
}
.resource-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.8);
  background-color: #636381;
}
.resources-cards-container {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(34, 0, 128);
  gap: 40px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 0;
  box-sizing: border-box;
}
.resource-medium-card {
  background-color: #020352;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  min-height: 350px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  font-weight: 100;
  font-size: 30px;
}

.resource-medium-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.8);
  background-color: #636381;
}
.card-content {
  padding: 20px;
  color: white;
}
.card-category {
  font-size: 22px;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card-article-title {
  font-size: 20px;
  margin-top: 10px;
  letter-spacing: 1px;
}
.card-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
